<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="contact-us">
                Contact US
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <div class="text-center">
                <img class="contact-img" src="../../../assets/images/user/contact.jpg"
                    alt="contact-image">
            </div>
        </div>
    
        <div class="col-md-6">
            <div>
            
                <div class="card">
                    <div class="card-body">
                        <form action="https://api.web3forms.com/submit" method="POST">
    
    
                            <input type="hidden" name="access_key" value="2f06ff51-093e-4926-8754-e8e24638541e">
                            <div class="mb-3">
                                <label class="form-label">Full Name</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="fa-regular fa-user"></i></span>
                                    <input name="name" formControlName="name" type="text" class="form-control"
                                        placeholder="Enter FullName" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email Address</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="fa-regular fa-envelope"></i></span>
                                    <input name="email" formControlName="email" type="email" class="form-control"
                                        placeholder="Enter Email Address" aria-label="Username"
                                        aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Phone Number</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="fa-solid fa-mobile-screen"></i></span>
                                    <input name="phone" formControlName="phone" type="text" class="form-control"
                                        placeholder="Enter Phone Number" aria-label="Username"
                                        aria-describedby="basic-addon1">
                                </div>
                            </div>
    
                            <div class="mb-3">
                                <label class="form-label">Message</label>
                                <textarea name="message" placeholder="Enter Message" formControlName="message"
                                    class="form-control"></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="form-label"><input type="checkbox" formControlName="condition"
                                        name="condition"> I hereby agree to our Privacy Policy</label>
    
    
                            </div>
    
                            <div class="mb-3">
                                <button type="submit" class="form-control btn btn-primary">Submit Form <i
                                        class="fa-solid fa-arrow-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>