.tech-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 202px;

}

.tech-title {
    margin: 20px 0px 30px 0px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}


.tech-stack{
    margin: 40px 0px;
}


.tech-group {
    text-align: center;
}

.tech-about{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 400;
}
