<div class="row">
    <div class="col-md-3">
        <div class="card text-bg-success">
            <div class="card-body text-center">
                <h5 class="card-title">Income <i class="fa-solid fa-chart-line"></i></h5>
                <p class="card-text">465</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-bg-danger">
            <div class="card-body text-center">
                <h5 class="card-title">Expense <i class="fa-solid fa-chart-gantt"></i></h5>
                <p class="card-text">465</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-bg-info">
            <div class="card-body text-center">
                <h5 class="card-title">Subscriptions <i class="fa-solid fa-shield"></i></h5>
                <p class="card-text">465</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-bg-secondary">
            <div class="card-body text-center">
                <h5 class="card-title">Savings <i class="fa-solid fa-piggy-bank"></i></h5>
                <p class="card-text">465</p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-12">
        <div class="card text-bg-success">
            <div class="card-body">
                <h2 class="card-title">Financial Health</h2>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <div>
                        Status: Excellent
                    </div>
                    <div>
                        Savings Rate: 92.9%
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        Great job! Keep maintaining this savings rate.
                    </div>
                    <div>
                        Income to Expense Ratio: 14.09
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-charts></app-charts>