.feature-section{
    margin-bottom: 50px;
}

.feature-heading {
    margin-top: 20px;
    font-weight: 900;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 25px;
}
.material-symbols-outlined {
    
    font-size: 48px;

    color: var(--blue)
}

.card{
    border-color: var(--blue);
}

.card-subtitle{
    font-size: 25px;
    color: var(--blue);
}

.card-text{
    color: var(--blue);
}