<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">TITLE</th>
        <th scope="col">AMOUNT</th>
        <th scope="col">CATEGORY</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of incomeList">
        <th scope="row">{{item?.title}} </th>
        <td>{{item?.amount}}</td>
        <td>{{item?.category}}</td>
        <td>{{item?.description}}</td>
        <td>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal"><span class="material-symbols-outlined"> edit_square </span></a>
          <a><span class="material-symbols-outlined"> delete </span></a>
        </td>
      </tr>
    
    </tbody>
  </table>
  
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Income</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
       <div class="modal-body">
          <form action="">
              <div class="mb-2">
                  <label class="form-label">Title <span>*</span></label>
                  <input type="text" class="form-control">
              </div>
               <div class="mb-2">
                  <label class="form-label">Amount <span>*</span></label>
                  <input type="text" class="form-control">
              </div>
  
               <div class="mb-2">
                  <label class="form-label">Category <span>*</span></label>
                  <select class="form-control">
                      <option value="">Home</option>
                      <option value="">Home</option>
                      <option value="">Home</option>
                      <option value="">Home</option>
                  </select>
                 
              </div>
               <div class="mb-3">
                  <label class="form-label">Description <span>*</span></label>
                  <textarea class="form-control"></textarea>
              </div>
              <div class="">
                  <button type="submit" class="btn btn-primary form-control">Update Income</button>
              </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>