<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center my-4">
                <div class="welcome">
                    Welcome to Paisa Planner.
                </div>
                <div class="lines">
                    Your trusted companion for financial wellness.
                </div>
                <div>
                    <button class="get-started-btn" routerLink="/create-account">Get Started</button>
                </div>
            </div>
        </div>
    </div>

</section>