<section>
    <div class="container">
        <div class="row my-4">
            <div class="col-md-12 ">
                <div class="how-to-use text-center">
                    How to Use
                </div>
                <div class="use-card">
                    <div   *ngFor="let item of howToUse">
                        <div class="how-to-use-title"><span><i class="fa-regular fa-circle-check"></i></span> 
                            <span class="heading">{{item.title}} </span></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- <div class="how-use-section">
        
        
    </div> -->
</section>