<section>
    <div class="support-group">
        <div class="support-title">
            Support Open Source
        </div>
        <div class="support-about">
            Paisa Planner is an open-source project. If you find it useful, please consider contributing and giving it a
            star on GitHub!
        </div>
        <div class="text-center">
            <button class="get-started-btn" routerLink="/create-account"><i class="fa-brands fa-github"></i>  Get Started</button>
        </div>

    </div>
</section>