.get-started-btn{
    margin-top: 20px;
    font-size: 20px;
    background-color: var(--black);
    color: var(--white);
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
}

.support-title {
    margin: 20px 0px 10px 0px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.support-about{
    text-align: center;
}

.support-group{
    margin: 30px 0px;
}
